.sprint {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  height: 100vh;
  grid-template-areas:
    'timer . . close'
    '. score score .'
    '. box box .';

  &__box {
    grid-area: box;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
    justify-self: center;

    & .play-audio-btn {
      margin-left: auto;
    }
  }
  &__game-wrapper {
    margin: auto 0;
  }

  & .score {
    grid-area: score;
    height: 2rem;
  }

  & .countdown-wrapper {
    height: fit-content;
    width: fit-content;
    grid-area: timer;
    margin: 1rem;
    font-size: 1.8rem;
    user-select: none;
    cursor: pointer;

    &.pause div[aria-label='Countdown timer'] > div {
      font-size: 2rem;
      &::before,
      &::after {
        height: 2px;
        width: 1.6rem;
        background-color: hsl(0, 0%, 48%);
        content: '';
        display: block;
        position: absolute;
        transform-origin: center center;
      }

      &:hover::before,
      &:hover::after {
        background-color: hsl(0, 0%, 21%);
      }

      &::before {
        transform: translateX(20%) rotate(90deg);
      }

      &::after {
        transform: translateX(-20%) rotate(90deg);
      }
    }
  }

  & .close-btn {
    grid-area: close;
    justify-self: end;

    &:focus {
      outline: none;
    }
  }

  .modal-buttons {
    justify-content: center;
  }

  .get-ready {
    grid-area: box;
    justify-self: center;
  }

  .mod-note {
    position: absolute;
  }
}
