.sprint {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  grid-template-areas:
    'timer . . close'
    '. box box .';
  &__box {
    grid-area: box;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
    justify-self: center;
  }
  &__game-wrapper{
    margin: auto 0;
  }


  & .countdown-wrapper {
    grid-area: timer;
    margin: 1rem;
  }

  & .close-btn {
    grid-area: close;
    justify-self: end;
  }

}

