@import "bulma";
@import "bulma-switch";
// bg, btn
$main-bg: #b57ad2;

//text, border
$color_extra_black: #2b292d;
$color_black: #3c3c3c;
$color_white: #ffffff;
$color_light: #c9ced6;
$color_middle: #959dbd;

// higlights:
$color_important: #6f52ed;

aside.menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: var(--bg-aside-menu);
  .logo-field {
    display: block;
    background-color: var(--bg-logo);
    height: 85.2px;
    padding-top: 0.5rem;
    img {
      display: block;
      margin-left: 1.375rem;
    }
  }

  .menu__list {
    list-style: none;

    .menu__item {
      margin: 1.75rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .icon {
    display: block;
    margin: auto;
    width: 2.75rem;
    height: auto;

    cursor: pointer;
    transition: all 150ms linear;
    &:hover {
      opacity: 0.5;
      transition: all 150ms linear;
    }
  }

  .down-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    position: relative;
    border-top: 1px solid var(--bg-menu-border);
  }

  .btn-menu__settings {
    height: 100%;
    position: relative;
    z-index: 2;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    background-color: var(--bg-aside-menu);
  }

  .hidden__menu {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
    width: 250px;
    height: 100px;
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.3s linear;
    background-color: #373b53;
    border-radius: 0px 22px 22px 0px;
    color: $color_white;
    &.active {
      transform: translateX(100%);
      transition: all 0.3s linear;
    }
    .field {
      margin-bottom: 0.25rem;
    }
    &-item {
      span {
        display: inline-block;
        width: 160px;
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 640px) {
  aside.menu {
    width: 100%;
    height: 100px;
    top: calc(100% - 100px);
    .logo-field {
      display: none;
    }
    .down-group {
      flex-direction: row-reverse;
      justify-content: end;
      margin-top: -195px;
      margin-right: 1.5rem;
      height: 100px;
    }
    .top-group {
      z-index: 50;
      width: 420px;
    }
    .menu__list {
      display: flex;
      margin-top: 9px;
      .menu__item {
        flex-direction: row;
      }
    }
    .icon,
    .fa-3x {
      display: block;
      margin: auto;
      width: 1.75rem;
      height: auto;
    }
    .fa-3x {
      font-size: 1.8em;
    }
    .hidden__menu.active {
      width: 241px;
      height: 110px;
      top: 0;
      z-index: 50;
      right: -24px;
      transform: translateY(-100%);
      border-radius: 0px;
      visibility: inherit;
    }
    .hidden__menu {
      visibility: hidden;
    }
  }
}

.fal {
  width: 44px;
  height: 44px;
  color: rgb(128, 135, 162);
}
.fal:hover {
  color: rgb(103, 109, 134);
}

@media (max-width: 930px) {
  .logo-field {
    height: 100px !important;
  }
}
