// bg, btn
$main-bg: #b57ad2;

//text, border
$color_extra_black: #2b292d;
$color_black: #3c3c3c;
$color_white: #ffffff;
$color_light: #c9ced6;
$color_middle: #959dbd;

// higlights:
$color_important: #6f52ed;

main {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Mono", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;

  .promo {
    background-image: url("../../assets/images/promo_bg.png"), url("../../assets/images/bg_book_2.png");
    background-position: top right, 100px bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 50% auto, 50% auto;

    color: $color_black;

    height: 90vh;
    padding-left: 2.5rem;
    padding-bottom: 19rem;
    .info_block {
      width: 40rem;
      padding-top: 12.5rem;
    }

    .title {
      margin-bottom: 1.8rem;
      text-align: left;
    }
    .content {
      max-width: 26.625rem;
      margin-bottom: 3.375rem;
    }
  }

  .video {
    background: var(--bg-gradient-video);
    height: 80vh;
    padding: 4.43rem 3rem;

    .video-player {
      height: 100%;
      width: 100%;
      border-radius: 1.25rem;
    }
  }

  .features {
    color: $color_extra_black;
    background-color: var(--bg-main);
    h2 {
      color: var(--bg-text-title);
      margin-top: 7.75rem;
      margin-bottom: 0.875rem;
    }
    h3{
      color: var(--bg-text-subtitle);
    }
    h4 {
      margin: 1.57rem auto;
    }
    .content {
      text-align: center;
      line-height: 150%;
    }
    .features__block {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      margin-top: 7rem;
      margin-bottom: 8rem;
    }

    .features__geo,
    .features__stars,
    .features__power-field {
      color: var(--bg-text-title);
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 21rem;
      img {
        margin: auto;
      }
    }
  }

  .team {
    clip-path: url(#clip4);
    height: 63rem;
    background-color: var(--bg-main);
    background-image: url("../../assets/images/team_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    .title {
      color:$color_extra_black;
      padding-top: 2rem;
      margin-bottom: 0.5rem;
    }
    .subtitle {
      margin: 0 auto 1.2rem !important;
      width: 43rem;
      text-align: center;
    }
    .team__group {
      display: flex;
      img {
        height: 6.125rem;
        width: 6.125rem;
        border-radius: 50%;
      }
      .name {
        font-size: 1.25rem;
        font-weight: 500;
      }
      .teammate__info {
        width: 6.2rem;
        text-align: center;
      }
      .duty {
        position: relative;
        font-size: 0.875rem;
        height: 3.75rem;
        width: fit-content;
        padding: 0.625rem 1.75rem;
        margin: 1rem 2rem;

        background: white;
        box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
        border-radius: 1.7rem;

        &::after {
          position: absolute;
          content: " ";
          height: 1.2rem;
          width: 1.2rem;
          bottom: -8px;
          left: 10px;
          background: white;
          z-index: 2;
          border-radius: 50%;
        }

        &::before {
          position: absolute;
          content: " ";
          height: 0.5rem;
          width: 0.5rem;
          bottom: -17px;
          left: 5px;
          background: white;
          z-index: 2;
          border-radius: 50%;
        }
      }

      .gregoryMoskalev,
      .iogsotot,
      .ainuAnna {
        .teammate__info {
          margin: auto 0 auto auto;
        }
        .duty {
          &::after {
            left: unset;
            right: 10px;
          }
          &::before {
            left: unset;
            right: 5px;
          }
        }
      }

      .teammates {
        display: grid;
        margin: auto;
        grid-template-columns: 100px 270px 100px 221px 100px 270px 100px;
        grid-template-areas:
          ". bramov bramov center ainuAnna ainuAnna ."
          ". . . center . . . "
          "svetlana svetlana . center . gregory gregory"
          ". johnneon johnneon center iogsotot iogsotot .";

        .center {
          grid-area: center;
          width: 221px;
          height: 221px;
          margin: auto;
          border-radius: unset;
        }

        .bramov {
          grid-area: bramov;
        }
        .ainuAnna {
          grid-area: ainuAnna;
        }
        .svetlana-tyshkevich {
          grid-area: svetlana;
        }
        .gregoryMoskalev {
          grid-area: gregory;
        }
        .johnneon {
          grid-area: johnneon;
        }
        .iogsotot {
          grid-area: iogsotot;
        }
      }
    }
  }

  .game {
    color: var(--bg-text-subtitle);;
    background: var(--bg-main);
    padding: 5.2rem 0 6.25rem;
    h2 {
      color: var(--bg-text-title);
      margin-bottom: 4.5rem;
    }
    .game__grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .game__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem;
      padding: 1.5rem;
      img {
        margin: auto;
        height: 230px;
        width: 15rem;
      }
      .game__title {
        color: $color_important;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }
      transition: all 250ms linear;
      &:hover {
        cursor: pointer;
        background-color: rgba(111, 82, 237, 0.2);
        transition: all 250ms linear;
        color:$color_white;
      }
    }
  }

  .arrow-block {
    color: var(--bg-text-subtitle);
    background: var(--bg-gradient-arrow);
    padding-top: 5.7rem;
    padding-bottom: 4.1rem;
    .subtitle {
      color: var(--bg-text-subtitle);
      margin: 0.875rem auto 1.57rem !important;
    }
    .content_group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;
      img{
        max-width: 34rem;
      }
      .info {
        list-style: none;
        margin: auto;
        .info__item {
          position: relative;
          margin-bottom: 0.75rem;
        }

        .info__item::before {
          position: absolute;
          display: inline-block;
          content: "\2022";
          margin-left: -2rem;
          top: 20px;
          left: 0;
          width: 1em;
          font-weight: bold;
          font-size: 3rem;
          color: #b57ad2;
          line-height: 0;
        }
        h4 {
          text-align: left;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1rem;
          line-height: 137%;
        }
        
      }
    }
  }
}

@media (max-width: 2300px) {
  main {
    .team {
      background-size: cover;
    }
  }
}

@media (max-width: 1800px) {
  main {
    .promo {
      background-image: url("../../assets/images/promo_bg.png"), url("../../assets/images/bg_book_2.png");
      background-position: top right, center bottom;
      background-repeat: no-repeat, no-repeat;
      background-size: 50% auto, 80vh auto;
    }
  }
}

@media (max-width: 1240px) {
  main {
    .promo {
      background-image: url("../../assets/images/promo_bg.png"), url("../../assets/images/bg_book_2.png");
      background-position: top right, center bottom;
      background-repeat: no-repeat, no-repeat;
      background-size: 40vw auto, contain;

      .info_block {
        width: 50vw;
      }
    }
    .features{
      .features__block{
        flex-wrap: wrap;
      }
    }
    .team{
      .subtitle{
        width: 100% !important;
        padding: 1.5rem;
      }
    .team__group{
    .teammates {
      display: grid;
      margin: auto;
      grid-template-columns: 38px 309px 61px 125px 61px 275px 26px;
      grid-template-areas:
        ". bramov bramov center ainuAnna ainuAnna ."
        ". . . center . . . "
        "svetlana svetlana . center . gregory gregory"
        ". johnneon johnneon center iogsotot iogsotot .";
        .center{
          height: 8rem !important;
        }
    }
  }
  }
}
}
@media (max-width: 768px) {
  main {
    .promo {
      background-image: url("../../assets/images/promo_bg.png");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 40vw auto;
      padding-bottom: 10rem;
      .info_block {
        padding-top: 10rem;
      }
    }
  .team{
    height: 110rem;
    .subtitle{
      width: 100% !important;
      padding: 1.5rem;
    }
    .team__group{
      .teammates {
        grid-template-columns: 60px 90px 330px 90px 60px;
        grid-template-areas:
        " . bramov bramov . . "
        " . . ainuAnna ainuAnna ."
        ". svetlana svetlana . . "
        " . . gregory gregory ."
        " . johnneon johnneon . ."
        " . . iogsotot iogsotot ." ;

        .center {
          display: none;
        }
      }
    }
  }
    .arrow-block{
      .content_group{
        img{
          display: none;
        }
        .info{
          display: flex;
          flex-direction: column;
          .info__item{
            margin-left: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  main {
    .promo {
      background-image: url('../../assets/icons/Image.svg');
      background-position: center 0;
      background-repeat: no-repeat, no-repeat;
      background-size: 68vw auto, contain;
      padding: 0;
      .info_block{
        padding-top: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
      }
    .title {
      text-align: center;
      padding: 0.5rem;
      margin-bottom: 0.8rem;
    }
    .content {
      text-align: center;
      margin-bottom: 1.375rem;
    }
  }
  .features{
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{

      margin-top: 2rem !important;
    }
    .features__block{
      margin-top: 2rem !important;
      margin-bottom: 2rem !important;
      flex-direction: column !important;
      .features__geo, .features__stars{
        margin-bottom: 2rem;
      }
    }
  }
  .team{
    height: 120rem !important;
    .subtitle{
      width: 100% !important;
      padding: 1.5rem;
    }
    .team__group{
    justify-content: center;
    align-items: center;
    width: fit-content;
    .duty{
     height: 4.75rem !important;
    }
    .teammates {
      grid-template-columns: 42px 79px 258px 79px 42px;
      grid-template-areas:
        " . bramov bramov . . "
        " . . ainuAnna ainuAnna ."
        ". svetlana svetlana . . "
        " . . gregory gregory ."
        " . johnneon johnneon . ."
        " . . iogsotot iogsotot .";

      .center {
       display: none;
      }
    }
  }
  }
  .game{
    padding: 1.2rem 0 1.25rem !important;
    h2{
      margin-bottom: 1.5rem !important;
    }
  }
    .arrow-block{
    padding-top: 1.7rem !important;
    .subtitle{
      padding: 1rem;
    }
      .content_group{
        padding-left: 0 !important;
        img{
          display: none;
        }
        .info{
          display: flex;
          flex-direction: column;
          .info__item{
            margin-left: 3rem;
          }
        }
      }
    }
  }
}