@import "../../index.scss";

.words {
  height: calc(100vh - 27rem);
  position: relative;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.625rem;
    background: rgba($color_important, 0.2);
    border-radius: 0.625rem;
    &:hover {
      background: rgba($color_important, 0.3);
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    box-shadow: inset 0 0 .375rem rgba($color_important, 0.3);
    background: rgba($color_important, 0.5);
    &:hover {
      background: $color_important;
    }
  }
}

.words__inner {
  position: relative;
  height: 100%;
}

.audio__controller {
  width: 100%;
  margin: 0 auto 2rem;
  background: var(--bg-main);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: .125rem;
    background: $color_important;
  }
  .btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    border: .125rem solid $color_important;
    background: var(--bg-main);
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    color: $color_important;
    font-size: 1.5rem;
    &.pouse {
      i {
        padding-left: .0625rem;
      }
    }
    i {
      padding-top: .125rem;
      padding-left: .3125rem;
      transition: all 0.3s linear;
    }
    &:hover {
      background: $color_important;
      transition: all 0.3s linear;
      i {
        color: $color_white;
        transition: all 0.3s linear;
      }
    }
  }
}

.tabs {
  margin-bottom: 2.5rem !important;
  ul {
    justify-content: center;
    li {
      &.is-active {
        a {
          background-color: $color_important !important;
          border-color: $color_important !important;
        }
      }
      span{
        color: var(--bg-text-subtitle) !important;
      }
    }
  }
}

@media (max-width: 640px) {
.words__progress__bar {
  margin-bottom: 1.25rem;
}

.words__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  span {
    display: inline-block;
    margin: 0 0.625rem;
    font-size: 1.5rem;
  }
}

.tabs{
  font-size: 0.8rem;
}
.words{
  height: calc(100vh - 16rem);
  width: 96vw;
}

.audio__controller {
  margin: 0 auto 1rem;
  .btn-play {
    width: 2.75rem;
    height: 2.75rem;
  }
}
.progress.is-large {
  height: 1rem;
}
}