.notification {
  max-width: calc(100% - .625rem);
  padding: .9375rem;
  position: fixed !important;
  top: .3125rem;
  right: 50%;
  transform: translate(50%, calc(-100% - .9375rem));
  transition: transform .1s linear;
  font-size: 1.125rem;

  &.active {
    transform: translate(50%, 10%);
    transition: transform .1s linear;
  }
}