@import "../../index.scss";

.word {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;

  > * {
    flex: 1 1 25rem;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;

    img {
      border-radius: 1.5rem;
      display: block;
      height: inherit;
    }
  }
  .word__info {
    > * {
      transition: all 200ms linear;
    }
    width: 100%;
    margin-left: 2rem;
    p {
      margin-bottom: 0.6rem;
      color: $text_color_puprle;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.625rem;
    }
  }
  &__name {
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1;
    color: $another_black;
    text-align: left;
  }
  &__buttons {
    button {
      margin-right: 0.625rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
