.audiocall {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(141, 219, 224, 1) 0%, rgba(70, 92, 255, 1) 100%);

  &_inner {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__current-word {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & img {
      width: 250px;
      height: 250px;
      border: 2px solid #fff;
      border-radius: 50%;
      object-fit: cover;
    }

    &__text {
      font-size: 1.8rem;
      color: #3b51f7;
    }
  }

  &__answers {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15%;

    &__variants {
      width: 80%;
      display: flex;
      justify-content: space-around;

      & button {
        font-size: 1.5rem;
      }
    }
  }

  &__volume {
    width: 50px;
    height: 50px;
    font-size: 25px;

    &_main {
      width: 150px;
      height: 150px;
      font-size: 75px;
    }
  }

  & .button.is-ghost {
    color: #fff;

    &:hover {
      background-color: #fff3;
      text-decoration: none;
    }

    &:active {
      outline: none;
      background-color: #fff5;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      color: #fff;
      background-color: transparent;
      border: none;
      opacity: 1;
      cursor: default;
    }

    &.correct {
      background-color: #279b8f40;
    }

    &.wrong:disabled {
      background-color: #9b352740;
    }
  }

  & .button.is-danger {
    color: #fff;
    font-size: 1.5rem;
  }

  & .button.is-warning {
    font-size: 1.5rem;
  }
}

.volume-button {
  background-color: transparent;
  border-radius: 50%;
  color: #373b53;
  border: none;

  &:hover {
    background-color: #fff3;
    opacity: 0.8;
  }

  &:active {
    outline: none;
    background-color: #fff5;
  }

  &:focus {
    outline: none;
  }
}


