.audiocall {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(141, 219, 224);
  background: linear-gradient(0deg, rgba(141, 219, 224, 1) 0%, rgba(70, 92, 255, 1) 100%);

  &_inner {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__current-word {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & img {
      width: 250px;
      height: 250px;
      border: 2px solid #fff;
      border-radius: 50%;
      object-fit: cover;
    }

    &__text {
      font-size: 1.8rem;
      color: #465cff;
    }
  }

  &__answers {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15%;

    &__variants {
      width: 80%;
      display: flex;
      justify-content: space-around;

      & button {
        font-size: 1.5rem;
      }
    }
  }

  &__volume {
    width: 50px;
    height: 50px;
    font-size: 25px;

    &_main {
      width: 150px;
      height: 150px;
      font-size: 75px;
    }
  }

  & .button.is-ghost {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #ffeb7d;
    }
  }

  & .button.is-danger {
    color: #fff;
    background-color: #ff5c76;
    font-size: 1.5rem;

    &:hover {
      background-color: #e94c66;
    }
  }

  & .button.is-warning {
    background-color: #ffeb7d;
    font-size: 1.5rem;

    &:hover {
      background-color: #e4d26e;
    }
  }
}

.volume-button {
  background-color: transparent;
  border-radius: 50%;
  color: #ffeb7d;
  border: none;


  &:hover {
    background-color: #fff3;
    transform: scale(1.05);
  }

  &:active {
    outline: none;
    background-color: #fff5;
  }

  &:focus {
    outline: none;
  }
}

.finish {
    width: 60%;
    height: 70%;
    padding: 40px 20px 80px;

    &__words-list {
        // position: absolute;
    text-align: left;
        width: 60%;
        height: 80%;
        margin: 20px auto;

        &__row {
            display: flex;
            align-items: center;
        }
    }

    &__akcent-number {
        display: inline-block;
        text-align: center;
        margin: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #279b8f;
        color: #fff;
        font-size: 0.9rem;
        line-height: 20px;
    }
}

