// bg, btn
$main-bg: #b57ad2;
//text, border
$text_color_black: #000000;
$text_color_puprle: #6f7cb2;
$color_gray: #a6acbe;
$another_black: #091133;
$color_extra_black: #2b292d;
$color_black: #3c3c3c;
$color_white: #ffffff;
$color_light: #c9ced6;
$color_middle: #959dbd;

// higlights:
$color_important: #6f52ed;

// Переменные для групп !!!
$Novice: blueviolet;
$Easy: rgb(2, 232, 240);
$Middle: #afea42;
$Hard: #00af95;
$Impossible: coral;
$Legendary: #d20000;

.App {
  &.light-mode {
    --bg-footer: #b57ad2;
    --bg-main: white;
    --bg-text-title: #2b292d;
    --bg-text-subtitle: #3c3c3c;
    --bg-word-name: #091133;
    --bg-word-info: #6f7cb2;
    --bg-aside-menu: #373b53;
    --bg-menu-border: #494e67;
    --bg-logo: #3490cf;
    --bg-gradient-arrow: linear-gradient(179.68deg, #f9f4fc 7.55%, rgba(255, 244, 229, 0.0001) 91.16%);
    --bg-gradient-video: linear-gradient(180deg, rgba(255, 244, 229, 0) 0%, rgba(181, 122, 210, 0.776388) 89.77%),
      linear-gradient(179.61deg, #f9f4fc -73%, rgba(255, 244, 229, 0) 52.76%);
    --bg-gradient-auth: linear-gradient(179.61deg, #f9f4fc 0.33%, #fff4e5 99.67%);
  }
  &.dark-mode {
    --bg-footer: #171824;
    --bg-main: #212334;
    --bg-text-title: white;
    --bg-text-subtitle: #c9ced6;
    --bg-word-name: #b57ad2;
    --bg-word-info: #c9ced6;
    --bg-aside-menu: #31334a;
    --bg-menu-border: #494e67;
    --bg-logo: #b57ad2;
    --bg-gradient-arrow: linear-gradient(179.68deg, #494e67 7.55%, rgba(255, 244, 229, 0.0001) 91.16%);
    --bg-gradient-video: linear-gradient(180deg, rgba(255, 244, 229, 0) 0%, #31334a 89.77%),
      linear-gradient(179.61deg, #f9f4fc -73%, rgba(255, 244, 229, 0) 52.76%);
    --bg-gradient-auth: linear-gradient(179.61deg, #494e67 0.33%, #31334a 99.67%);
  }
  background-color: var(--bg-main);
}