@import "../node_modules/bulma/bulma.sass";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: white;
}

@media (max-width: 640px) {
  html {
    width: fit-content;
  }
}

body {
  margin-left: 6.25rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  &::-webkit-scrollbar {
    width: 10px;
    background: rgba($color_important, 0.2);
    border-radius: 10px;
    &:hover {
      background: rgba($color_important, 0.3);
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba($color_important, 0.3);
    background: rgba($color_important, 0.5);
    &:hover {
      background: $color_important;
    }
  }
}

// Basic styles

.wrapper {
  max-width: 1344px;
  margin: auto;
}

h1,
.title--bigest {
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  text-align: center;
  line-height: 175%;
}

h3 {
  font-size: 16px;
  text-align: center;
  line-height: 212%;
}

h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.title {
  color: var(--bg-text-title);
  font-size: 36px;
  line-height: 125%;
  text-align: center;
}

.content {
  color: var(--bg-text-subtitle);
  font-size: 20px;
  line-height: 28px;
}

.btn {
  cursor: pointer;
  display: block;
  width: fit-content;
  padding: 18px 72px;
  border: 1px solid $main-bg;
  border-radius: 40px;

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Mono", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color_white;
  font-size: 18px;
  background-color: $main-bg;

  transition: all 300ms linear;
  &:hover {
    color: $text_color_black;
    transition: all 300ms linear;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      color: $color_white;
    }
  }

  &-sm {
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
  }
}
@media (max-width: 640px) {
  body {
    margin: 0;
  }
}
