@import '../../index.scss';

header {
  border-color: white;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    color: $color_black;
    margin: 0 5px;
    transition: all .2s linear;
    &:hover {
      color: $color_important;
      transition: all .2s linear;
      text-shadow: 0 0 3px rgba(0, 0, 0, .5);
      text-decoration: underline;
    }
  }
}
