@import "../../index.scss";

header {
  border-color: white;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    color: $color_black;
    margin: 0 1rem;
    transition: all 0.2s linear;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $color_important;
      transition: all 0.2s linear;
      text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
      border-bottom: 2px solid $color_important;
    }
  }
}
