.savannah__info {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 450px;
  margin: auto;
  text-align: justify;

  background-color: rgba(255, 255, 255, 0.8);

  .btn--start {
    font-size: inherit;
    display: block;
    width: fit-content;
    margin: 1rem auto 0.5rem;
  }
}

.difficulty-btn-block {
  text-align: center;
  max-width: 19rem;
  margin: auto;
  .btn__difficulty {
    margin: 0.5rem 0.8rem;
    &:nth-of-type(4) {
      margin-right: 0;
    }
    &:nth-of-type(5) {
      margin-left: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

// .puzzle__info {
//   position: absolute;
//   top: 20%;
//   left: 50%;
//   transform: translate(-50%);
//   width: 450px;
//   margin: auto;

//   background-color: rgba(255, 255, 255, 0.5);

//   .btn {
//     display: block;
//     width: fit-content;
//     display: flex;
//     align-items: center;
//     margin: 1rem auto 0.5rem;
//   }
// }

// &__info {
//   position: absolute;
//   top: 20%;
//   left: 50%;
//   transform: translate(-50%);
//   width: 450px;
//   margin: auto;

//   background-color: rgba(255, 255, 255, 0.5);

//   .btn {
//     display: block;
//     width: fit-content;
//     display: flex;
//     align-items: center;
//     margin: 1rem auto 0.5rem;
//   }
// }

// .box {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   z-index: 3;
// }

// .buttons {
//   justify-content: center;
// }
// .difficulty-btn-block {
//   & .button {
//     margin: 5px;
//     font-size: 1.2rem;

//     &:disabled {
//       cursor: default;
//     }
//   }
// }
